/* 一覧コンテンツ */
.masonry-wrapper-cols {
  background-color: #EAEBED;
  text-align: center;
}

.masonry-block {
  margin: 50px 0;
  background-color: #FFFFFF;
}

.post-body {
  text-align: left;
  padding: 0 10px;
}

.label-primary {
  background-color: #337ab7;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
