<footer>
  <div class="container">
    <div class="row footer-contents">
      <div class="col-xs-12 center">
        <p>BBSのご利用は利用者各位のご判断にお任せしています｜</p>
        <p>Copyright © BBS_app All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>